.imgElements {
}

.unity-progress-bar__progress {
    background-color: rgb(39, 226, 61);
    display: flex;
    flex-shrink: 0;
}

.unity-progress-bar__background {
    background-color: rgba(54, 128, 166, 0.73);
}

.unity-progress-bar__container {
    background-color: rgb(196, 169, 204);
    max-height: none;
    height: auto;
    width: auto;
}
